#!/usr/bin/make -f

export DH_VERBOSE = 1
export SETUPTOOLS_DEB_LAYOUT = 1
export DH_VIRTUALENV_INSTALL_ROOT = /usr/lib/python3/dist-packages
export DH_VIRTUALENV_ARGUMENTS := --always-copy --python python3 --system-site-packages
export DH_REQUIREMENTS_FILE := debian-requirements.txt
export DH_UPGRADE_PIP := 21.2.4

%:
	dh $@ --buildsystem dh_virtualenv


override_dh_python3:
	dh_python3 --shebang=/usr/lib/python3/dist-packages/sylk-pushserver/bin/python3

override_dh_clean:
	dh_clean
	rm -rf build dist MANIFEST scripts-3.* bdist.linux-x86_64

override_dh_install:
	dh_install
	find debian/sylk-pushserver -type d -name 'scripts-3.*' -exec rm -rf {} +
	find debian/sylk-pushserver -type d -name 'bdist.linux-x86_64' -exec rm -rf {} +
	py3clean .

override_dh_installsystemd:
	dh_installsystemd -psylk-pushserver --name=sylk-pushserver --no-start

override_dh_auto_test:
